/* .hero-section{
    background-color: aqua;
} */
.about-section{
    margin-top: 4rem;
}
.about{
    margin: 0 13rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 20rem;
}
.text-box-about{
    max-width: 60rem;
    margin: 8rem 0 2rem;
}
.hero-text-box{
    margin-top: 10rem;
}

/* .primary-heading-hero{
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 4%;
    color: #333;
    margin-bottom: .2rem;
} */
.secondary-heading-about{
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
}
.heading-para-about{
    font-size: 2.4rem;
    color: #394867;
}
/* .heading-para{
    font-size: 2.4rem;
    font-weight: 700;
    color: #394867;
} */
.hero-para{
    font-size: 1.8rem;
    letter-spacing: 4%;
    color: #333;
}
.button-box{
    display: flex;
    gap: 4rem;
}
.hero-link,
.hero-link:link,
.hero-link:visited{
    border: 1px solid #9ACEFF;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding: 1.3rem;
    color: black;
    text-decoration: none;
    background-color: #9ACEFF;
}
.hero-link:hover,
.hero-link:active{
    background-color: #fff;
    color: black;
}
.know-more-link,
.know-more-link:link,
.know-more-link:visited{
    background-color: #ebf5ff;
    color: black;
}
.know-more-link:hover,
.know-more-link:active{
    background-color:#9ACEFF ;
    color: black;
}
.img-box-about{
    margin: 2rem 01rem;
}
.img-hero{
    width: 45rem;
    height: 40rem;
}